section {
    background-color: #f4978e;
    width: 400px;
    height: 800px;
}

div {
    background-color: #e7c6ff;
    width: 50%;
    height: 50%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

h2 {
    font-size: 2em;
    margin-left: 1em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1%;
}

article {
    font-size: 20px;
}